@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color: #a4508b;
    --second-color: #5f0a87;
    --color-white: #fff
}

*{
    box-sizing: border-box;
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open sans',sans-serif;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    background-repeat: no-repeat;
    min-height: 95vh;
    min-width: 95vw;
    font-size: 1.3em;
    line-height: 1.5em;
}



.container{
    max-width: 640px;
    margin: 50px auto;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    
}

form input,form label, form button{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

form input{
    background-color: var(--primary-color);
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border: none;
    outline: none;
    transition: 300ms all ease-in-out;
    border-radius: 5px;
}

form input:focus{
    background-color: var(--second-color);
}

form button{
    border: none;
    background: var(--primary-color);
    color: #000;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    transition: 300ms all ease-in-out;
    margin-top: 30px;
    border-radius: 5px;
}

form button:hover{
    background-color: var(--second-color);
}

form button:active{
    background: red;
}

form fieldset{
    background-color: rgb(194, 188, 188);
    border: none;
    border-radius: 5px;
}

#table{
    margin: 0 auto;
    
}

#table td{
        padding: 0 30px;
        background-color: rgb(194, 188, 188);
        border-radius: 5px;

}

.paragraph-result, .bad-result{
    background-color: greenyellow;
    padding: 10px 20px;
    border-radius: 5px;
}

.bad-result{
    background: red;
}



